h1 {
  font-size:80px;
  color: #270722;
    text-decoration-line: underline;
    text-decoration-style: double;
    font-family: Garamond, serif;
}


body {
  background-color: #C2C6A7;
}

h1:hover {
  letter-spacing: 10px;
}
img:hover {
  width: 900px;
  height: 200px;
}

nav {
  list-style-type: none;
  width:100%;
  background-color: #F3E6A7;
  position: fixed;
  top: 0;
  left: 0;
}

li a {
  color: #270722;
  text-decoration: none;
  display: block;
  float: left;
  padding: 20px 50px;
  
  font-family: Garamond, serif;
}

li a:hover {
  background-color: #F6DCA2;
}
