h1 {
  font-size:80px;
  color: #270722;
    text-decoration-line: underline;
    text-decoration-style: double;
    font-family: Garamond, serif;
}
<head> <link rel="stylesheet" href="style.css">
<link rel="icon" type="image/x-icon" href="link to image">
<title> TAB TITLE </title>
  </head>

body {
  background-color: #C2C6A7;
}
